name: Main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: rust:1.71.1
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v1
    - name: Build
      run:  cargo build --all-features --verbose --locked
    - name: Run tests
      run: cargo test --all-features --workspace --verbose --locked
  clippy:
    runs-on: ubuntu-latest
    container:
      image: rust:1.71.1
    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v1
    - name: Install clippy
      run: rustup component add clippy
    - name: Run clippy
      run: cargo clippy --all-features
